<html>
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet">
<title>706v2</title>
<style>
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'MohrRounded-SemiBold';
    font-weight: normal;
    src: url(https://www.loansbyworld.com/_next/static/media/39700D_2_0.8a47621da197cfbfba39178eb2e5eb78.woff);
    src: url(https://www.loansbyworld.com/_next/static/media/39700D_2_0.38a7e76b12b7e92aa29bd4b5548c7923.woff2) format("woff2"),url(https://www.loansbyworld.com/_next/static/media/39700D_2_0.8a47621da197cfbfba39178eb2e5eb78.woff) format("woff")
  }



  body {
    width: 8.5in;
    height: 11in;
    margin: 0;
    padding: 0;
  }

  .page-1 {
    page-break-after: always;
    position: relative;
    width: 8.5in;
    height: 11in;
    background-image: url(https://cdn.bfldr.com/6BQWNHIG/as/q8hpsjhmbm68mr7mct2rnj2r/Live-Collections-v2-merge-template_2CODE?auto=webp&format=png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .page-content {
    position: absolute;
    width: 8.125in;
    height: 10.625in;
    left: 0.1875in;
    top: 0.1875in;
    background-color: rgba(0,0,0,0);
  }

  #gray-top-box {
    position: absolute;
    top: 96px;
    left: 531px;
    text-align: center;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 9pt;
  }

  #letter-date {
  position: absolute;
  left: 55px;
  top: 276px;
  font-family: 'Work Sans';
  font-weight: 300;
  font-size: 10pt;
  line-height: 16pt;
}

.text {
    position: relative;
    left: 55px;
    top: 306px;
    width: 4.6in;
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 10pt;
    line-height: 16pt;
  }

  .semibold {
    font-family: 'Work Sans';
    font-weight: 600;
  }

  #right-side-box-1 {
    position: absolute;
    top: 387px;
    left: 586px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 8pt;
    line-height: 9pt;
  }

  #right-side-box-2 {
    position: absolute;
    top: 577px;
    left: 586px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 8pt;
    line-height: 9pt;
  }

  #qr-code{
    position: absolute;
    top: 648px;
    left: 524px;
  }

  #qr-code img{
    width: 1in;
  }

  #disclaimer {
    position: absolute;
    bottom: 25px;
    right: 54px;
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 6pt;
    line-height: 7.2pt;
    text-align: right;
  }



  #top-right-headline {
    position: absolute;
    top: 55px;
    right: 20px;
    font-family: 'MohrRounded-SemiBold';
    font-weight: 400;
    font-size: 23.4pt;
    line-height: 27.8pt;
    text-align: center;
    width: 275px;
  }

  #sender-address {
    position: absolute;
    top: 61px;
    left: 50px;
    font-family: 'Work Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9pt;
    line-height: 11pt;
    letter-spacing: 0.015em;

  }

  #recipient-address-p2 {
    position: absolute;
    left: 51px;
    top: 137px;
    font-family: 'Work Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9pt;
    line-height: 11pt;
    letter-spacing: 0.015em;

  }



  #return-address-window {
    position: absolute;
    left: .625in;
    top: .5in;
    width: 3.25in;
    height: .875in;
    background-color: rgba(255,0,0,0);
  }

  #return-address-text {
    position: absolute;
    left: .07in;
    top: .34in;
    width: 2.05in;
    height: .44in;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: .11in;
    letter-spacing: 0.015em;

  }

  #return-logo {
    position: absolute;
    left: .07in;
    top: .02in;
    width: 2.05in;
    height: .3in;
  }

  #recipient-address-window {
    position: absolute;
    left: .625in;
    top: 1.7in;
    width: 4in;
    height: 1in;
    background-color: rgba(255,0,0,0);
  }

  #recipient-address-text {
    position: absolute;
    left: .07in;
    top: .05in;
    width: 2.92in;
    height: .9in;
    font-family: 'Work Sans';
    text-transform: uppercase;
    font-size: 9.5pt;
    font-weight: 400;
    letter-spacing: 0.015em;
  }


  #white-box {
    background-color: ;
    width: 3.15in;
    height: 2in;
    position: absolute;
    left: .6in;
    top: .84in;
  }

</style>
</head>

<body>

  <div class="page-1">
    <div class="page-content">

        <div id="top-right-headline">You Might Have Money Available</div>

        <div id="recipient-address-p2">
         <p>{{borrower_first_name}} {{borrower_last_name}}</p>
         <p style="margin-top:-14px">{{borrower_address_1}}</p>
         <p style="margin-top:-14px">{{borrower_address_2}}</p>
         <p style="margin-top:-14px">{{borrower_city}}, {{borrower_state}} {{borrower_postal_code}}</p>
        </div>

        <div id="right-side-box-1">VISIT YOUR<br>LOCAL BRANCH:<br>
          <p style="margin-top:0px">{{branch_address_1}}</p>
          <p style="margin-top:-10px">{{branch_address_2}}</p>
          <p style="margin-top:-10px">{{branch_city}}, {{branch_state}} {{branch_postal_code}}</p>
        </div>

         <div id="right-side-box-2">CALL US:<br>
              <p style="margin-top:0px">{{branch_phone}}</p>
        </div>

        <div id="qr-code">
            <img id="qrcode_image" src="https://quickchart.io/qr?text=https://apply.loansbyworld.com/?utm_source=direct_mail%26utm_medium=qr_code%26utm_campaign=cm-6pym----lt-2o--pl-1ln--%26utm_content=t-402cc----------------of-33rf--l-706v2----e-128--------------qr-5yr--lg-2en--th-24pym----">
        </div>


      <div id="letter-date">{{letter_date}}</div>

<div class="text">
        <!-- <p><span class="semibold">With this payment, your account shows an outstanding balance of $ due on .</span></p> -->
        <p><span class="semibold">Potential to Refinance Your Loan and Get ${{loan_available_credit}}*</span><br><br> Hello {{borrower_first_name}} {{borrower_last_name}},<br><br> Did you know that by refinancing your loan, you could be eligible to receive ${{loan_available_credit}}?<br><br> As of {{loan_current_due_date}}, your account currently reflects an overdue amount of ${{loan_total_amount_due}}. Accessing additional funds through a loan refinance may be just the thing you need to get back to the good. <br><br> As your trusted financial partner, we understand that things happen, and we’re here to help get you back on track. Please call me at {{branch_phone}} to learn more about your refinancing options. <br><br> If a payment has already been made, please disregard this letter. Otherwise, we look forward to hearing from you soon.<br><br> Thank you,<br> {{branch_manager_name}}</p>

    </div>

      <div id="disclaimer">World Acceptance Corporation ©{{current_year}}<br>706v2 | GA NMLS ID #:2032867</div>
  </div>

  </div>

</body>

</html>
